trigger:
  branches:
    include:
    - master
      
#   paths:
#     include:
#       - ./*

pr: none


steps:
- task: Maven@3
  displayName: 'Maven initial/pom.xml'
  inputs:
    mavenPomFile: initial/pom.xml
    publishJUnitResults: false
